.content{
  background-color: #b3d4fc;
  min-height: 100vh;
}
.carousel{
  background-color: transparent;
  color: #0eccf2;
}
body{
  background-color: white !important;
}
.navbar{
  background-color: #002752 !important;
}
 .pas-body{
   margin-top: 55px;
 }
 .title-holder{
   text-align: justify;
 }
