body{
  background-color: white;
}
.clearfix{
  display: block;
  position: relative;
  text-align: left;
  background-color: #171a1d;
  color: #b3d4fc;
}
.et-social-icons {
  float: right;
}
.et-social-icons li {
  display: inline-block;
  margin-left: 20px;
}
#footer-bottom .et-social-icon a {
  color: #0eccf2;
  font-size: 18px;
}
.et-social-icon a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.et-social-icon span {
  display: none;
}
